<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rating-Herbstcampus</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="css/main.css" rel="stylesheet">
</head>
<body>
<div id="rating-app" class="container">

  <header id="header">
    <div>
      <img src="/images/herbstcampus.svg" style="width:500px; max-width:90%" alt="herbstcampus logo">
    </div>
  </header>
  <main>
    <h1>Rating Herbstcampus</h1>
    <p>Include vue js and Bootstrap!</p>

    <div id="rating-grid">
      <div id="rating-grid-header">
        <div class="row herbstcampus-petrol grid-border">
          <div class="col-md-3 themed-grid-col">Speaker</div>
          <div class="col-md-6 themed-grid-col">Title</div>
          <div class="col-md-3 themed-grid-col">Rating</div>
        </div>
      </div>

      <div id="rating-grid-body">
        <div class="row mb-3 herbstcampus-grey grid-border">
          <div class="col-md-3 themed-grid-col">Speaker</div>
          <div class="col-md-6 themed-grid-col">Title</div>
          <div class="col-md-3 themed-grid-col">
            <rating-stars :id="1" ></rating-stars>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<script src="js/axios.min.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/rating-stars.js"></script>
<script src="js/rating.js"></script>
</body>
</html>
