body {
    font-family:      'Open Sans', sans-serif;
    font-size:        18px;
    line-height:      1.8;
    color:            #6b6b6b;
    font-weight:      normal;
    padding-top:      50px;
    background:       #fff;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: IBMPlexSerif, serif;
    font-weight: bold;
    line-height: 1.2;
    color:       #9b243e;
}

.herbstcampus-yellow {
    background: rgba(245, 230, 99, 0.3);
}

.herbstcampus-petrol {
    background: rgba(71, 168, 189, 0.3);
}

.herbstcampus-rosa {
    background: rgba(255, 173, 105, 0.3);
}

.herbstcampus-blue {
    background: rgba(30, 56, 136, 0.3);
}

.herbstcampus-grey {
    background: #f0f0f0;
}

.grid-border {
    border-bottom: 1px solid #6b6b6b;
}

.rating {
    float:left;
    border:none;
    margin-top: 6px;
}
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0, 0, 0, 0);
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:100%;
    line-height:1.2;
    color:#ddd;
}
.rating:not(:checked) > label:before {
    content:'★ ';
}
.rating > input:checked ~ label {
    color: gold;
}
.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
    color: gold;
}
.rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}
.rating > label:active {
    position:relative;
}
